# Logging
LOG_LEVEL=INFO
LOG_FILE=logs/signaling-server.log

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Room behavior
ROOM_EXPIRE=300
MAX_MESSAGE_SIZE=4096
MAX_ROOM_GENERATION_ATTEMPTS=1000

# Optional relay integration

# The URL which this server will call to ask for a relay
# RELAY_INTERNAL_URL_BASE=http://127.0.0.1:5050

# The public IP address of the server the relay is running on
# RELAY_PUBLIC_IP=0.0.0.0

# The API key for the relay service
# RELAY_KEY=your-relay-api-key

# The external URL of the relay service to which the ZettaSend peers will connect to for coordination
# RELAY_EXTERNAL_URL_BASE=https://your-relay-service.example.com
